.setting-body {
  margin: 15px;
  background: #fff;
  padding: 20px; }
  .setting-body .block {
    overflow: hidden; }
    .setting-body .block .h1 {
      font-size: 16px;
      font-weight: bold;
      line-height: 35px;
      border-bottom: solid 1px #eee;
      padding-bottom: 8px; }
    .setting-body .block .content {
      margin: 15px 0 20px 50px; }
      .setting-body .block .content .copy {
        float: right;
        transform: translate(-10px, -50px);
        font-size: 12px; }
      .setting-body .block .content .item {
        margin-top: 15px;
        display: flex;
        flex-direction: row; }
        .setting-body .block .content .item .left {
          margin-right: 8px;
          width: 90px;
          text-align: right;
          line-height: 40px;
          height: 40px; }
        .setting-body .block .content .item .input {
          width: 100%; }
          .setting-body .block .content .item .input .pair {
            margin-top: 10px;
            display: flex;
            flex-direction: row; }
            .setting-body .block .content .item .input .pair .equal {
              padding: 0 10px;
              line-height: 40px; }
              .setting-body .block .content .item .input .pair .delete {
              margin-left: 10px; }
      .setting-body .block .content .script-text {
        width: 100%;
        background: #000;
        color: #fff;
        font-size: 14px;
        border: none;
        height: 100px;
        padding: 10px; }
    .setting-body .block .code code {
      padding: 6px 10px;
      background: #000;
      color: #fff;
      font-size: 12px;
      border-radius: 5px;
      margin: 0 3px; }
  .setting-body .block-center {
    width: 500px;
    margin-left: 150px; }
  .setting-body .block-two {
    overflow: hidden; }
    .setting-body .block-two .block-center {
      width: 500px; }
    .setting-body .block-two .onepart {
      width: 40%;
      float: left;
      margin-right: 10%; }
  .setting-body .button {
    height: 40px;
    background: #2077ff;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer; }
  .setting-body .item {
    margin-bottom: 20px;
    font-size: 14px; }
    .setting-body .item .left {
      display: inline-block;
      width: 150px;
      text-align: right; }
    .setting-body .item input {
      height: 40px;
      padding-left: 10px; }
